@import "bootstrap";

.cell {
  border: 1px solid black;
  padding: 10px;
  width: 300px; 
}

.title, .upload-zip-btn, .upload-cbsa-btn,
.zip-search-form, .results-table {
  margin: 20px 0;
}

label {
  font-weight: 600;
}
